*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 25px;
    background-color: hsla(0, 0%, 96%, 1);
}

.header-nav{
    margin-left: 350px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 70px;
}

.logo h1{
    font-size: 60px;
    color: hsla(221, 24%, 35%, 1);
    line-height: 70px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

nav li{
    list-style: none;
    padding: 10px;
}

nav li a{
    text-decoration: none;
    color: hsla(221, 24%, 35%, 1);
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
}

button{
    border: none;
    padding: 10px 10px;
    color: hsla(0, 0%, 90%, 1);
    background-color: hsla(221, 24%, 35%, 1);
    border-radius: 27px;
    font-size: 15px;
    font-weight: bold;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 10px 30px;
}

.container img{
    width: 304px;
    margin-left: 75px;
}

.text {
    text-align: center;
    margin-right: 70px;
}

.container .text p{
    font-size: 96px;
    font-weight: bold;
    line-height: 112px;
    text-align: center;
    color: hsla(221, 24%, 35%, 1);
}

.container .text button{
    margin-top: 10px;
}

.footer .social{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.footer .social li{
    padding: 8px;
}

.footer .social li a{
    text-decoration: none;
}

.footer .social li a img{
    width: 40px;
}

.footer .social li a p{
    font-size: 28px;
    font-weight: bold;
    line-height: 56px;
    color: hsla(221, 24%, 35%, 1);
}

@media (min-width: 994px) and (max-width: 1240px) {
    .header-nav{
        margin-left: 150px;
    }
}
@media (min-width: 300px) and (max-width: 988px){
    .header-nav{
        margin-left: 10px;
    }
    .logo img{
        width: 40px;
    }
    .logo h1{
        font-size: 30px;
        color: hsla(221, 24%, 35%, 1);
        line-height: 40px;
    }
    .container{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container img{
        width: 204px;
        margin-bottom: 40px;
        margin-right: 70px;
    }
    .text {
        text-align: center;
        margin-right: 20px;
    }
    .container .text p{
        font-size: 56px;
        line-height: 60px;
    }
    .footer .social li a p{
        font-size: 20px;
        line-height: 26px;
    }
}